.top-bar, footer {
  background-color: #6EAADC;
  color: #fff;
}

.top-bar a {
  color: #fff;
}

.footer-nav {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
}
