.site-name, h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

.site-name {
  font-size: 22px;
}

.top-bar, .top-bar ul, .title-bar, footer {
  background-color: #fff;
  color: #0a0a0a;
}

.top-bar, .title-bar {
  border-bottom: 1px solid #f1f1f1;
}

footer {
  border-top: 1px solid #f1f1f1;
}

.top-bar a, .title-bar a {
  color: #0a0a0a;
}

.menu-icon::after {
  background: #cacaca;
    -webkit-box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
    box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
}

.top-bar .menu.sub-menu {
  font-size: 12px;
}

.footer-nav {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
}

.hero-section {
  background-color: #6EAADC;
  color: #fff;
  height: 116px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.hero-section.tall {
  height:40vh;
}

table {
  font-size: 13px;
}

th {
  color: #454d59;
}

body.bath-rugby   .hero-section {
    background-color: #1e3b84;
}

body.bristol-bears .hero-section {
    background-color: #0b0842;
}

body.exeter-chiefs .hero-section {
    background-color: #000000;
}

body.gloucester-rugby .hero-section {
    background-color: #c8102e;
}

body.harlequins .hero-section {
    background-color: #b6234b;
}

body.leicester-tigers .hero-section {
    background-color: #004939;
}

body.newcastle-falcons   .hero-section {
    background-color: #000000;
}

body.northampton-saints .hero-section {
    background-color: #00714b;
}

body.sale-sharks .hero-section {
    background-color: #00235c;
}

body.saracens .hero-section {
    background-color: #000000;
}

body.wasps .hero-section {
    background-color: #000000;
}

body.worcester-warriors .hero-section {
    background-color: #001744;
  }
