<ul class="accordion" data-accordion data-allow-all-closed="true">
  {% for team in site.data.injuries %}
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">{{ team.name }}</a>
      <div class="accordion-content" data-tab-content>
        <table>
          <tbody>
            {% for player in team.players %}
              <tr>
                <td>
                  {{ player.name }}
                </td>
                <td>
                  {{ player.injury }}
                </td>
                <td>
                  {{ player.expectedreturn }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </li>
  {% endfor %}
</ul>
