{% for team in site.data.injuries %}
  {% if team.name == page.team %}
    <table>
      <thead>
        <tr>
          <th>Player</th>
          <th>Issue</th>
          <th>Latest Update</th>
        </tr>
      </thead>
      <tbody>
        {% for player in team.players %}
          <tr>
            <td>
              <b>{{ player.name }}</b>
            </td>
            <td>
              {{ player.injury }}
            </td>
            <td>
              {{ player.expectedreturn }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endfor %}
