---
layout: default
---
<div class="hero-section">
  <div class="hero-section-text">
    <h1>{{ page.title }}</h1>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        {% include team-injuries.html %}
      
        {% include team-suspensions.html %}
      
        {% include team-depth-chart.html %}
      
      <p>
        Our Premiership Rugby injury list is updated on a daily basis and is designed to keep you abreast of the latest injuries and bans in the Premiership. While the information is thoroughly researched, we cannot guarantee that it is 100% accurate, and we accept no liability for any loss incurred by acting upon the information here.
      </p>
      
      <p>Have we missed anything? Pleaselet us know by tweeting us at @{{ site.twitter }}</p>
    </div>
  </div>
</div>
